@{
    var breadcrumbModel = ViewData["Breadcrumb"] as BreadcrumbModel;

    if (!string.IsNullOrEmpty(breadcrumbModel.Path))
    {
        var segments = breadcrumbModel.Path.Split("/");

        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">@breadcrumbModel.Title</h4>
                    <div class="d-flex align-items-center"></div>
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex no-block justify-content-end align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                @foreach (var segment in segments)
                                {
                                    if (!string.IsNullOrEmpty(segment))
                                    {
                                        <li class="breadcrumb-item">@segment</li>
                                    }

                                    //link click
                                    //if (!string.IsNullOrEmpty(segment))
                                    //{
                                    //    if (breadcrumbModel.UrlMap != null && breadcrumbModel.UrlMap.TryGetValue(segment, out var url))
                                    //    {
                                    //        <li class="breadcrumb-item">
                                    //            <a href="@url">@segment</a>
                                    //        </li>
                                    //    }
                                    //    else
                                    //    {
                                    //        <li class="breadcrumb-item active" aria-current="page">@segment</li>
                                    //    }
                                    //}
                                }
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    }
}