@using System.Security.Claims
@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var userEmail = User.FindFirst(ClaimTypes.Email)?.Value;
    var userName = User.Identity?.Name;
    var avatarUrl = $"/images/user/{userId}.png";
    var fallbackAvatar = "/images/user/no-image.png";
}
<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="container-xxl">
        <!-- Brand -->
        <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-6">
            <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                    <svg width="268" height="150" viewBox="0 0 38 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <!-- SVG Paths kept as is -->
                        <!-- You can move SVG to a separate partial if reused -->
                    </svg>
                </span>
                <span class="app-brand-text demo menu-text fw-semibold">Book Shop</span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                <i class="ri-close-fill align-middle"></i>
            </a>
        </div>

        <!-- Menu Toggle (Mobile) -->
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="ri-menu-fill ri-22px"></i>
            </a>
        </div>

        <!-- User Navbar -->
        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="#" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            @*<img src="@avatarUrl" alt="user" class="rounded-circle" />*@
                            <img src="@avatarUrl"
                                 onerror="this.onerror=null; this.src='@fallbackAvatar';"
                                 alt="user"
                                 class="rounded-circle" />
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="pages-account-settings-account.html">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-2">
                                        <div class="avatar avatar-online">
                                            @*<img src="@avatarUrl" alt="user" class="rounded-circle" />*@
                                            <img src="@avatarUrl"
                                                 onerror="this.onerror=null; this.src='@fallbackAvatar';"
                                                 alt="user"
                                                 class="rounded-circle" />
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-medium d-block small">@userName</span>
                                        <span class="fw-medium d-block small">@userEmail</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li><div class="dropdown-divider"></div></li>
                        <li>
                            <a class="dropdown-item" href="pages-profile-user.html">
                                <i class="ri-user-3-line ri-22px me-3"></i>
                                <span class="align-middle">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="pages-account-settings-account.html">
                                <i class="ri-settings-4-line ri-22px me-3"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </li>
                        <li>
                            <div class="d-grid px-4 pt-2 pb-1">
                                <a class="btn btn-sm btn-danger d-flex" asp-controller="authentication" asp-action="logout">
                                    <small class="align-middle">Logout</small>
                                    <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
